$container_width: 960px;
$border_radius: 8px;
$box_shadow: 0 4px 4px 0 rgba(0, 0, 0, .10);

//backgrounds
$background_white: white;
$wrapper_background: #f2f5f7;

//buttons
$button_green: #00ae1c;
$button_disabled_dark_green: #187727;

//text
$text_dark: #0c0c0c;
$text_blue: #243573;
$text_white: white;

$font_size_16_px: calc(12px + 4 * (100vw /1440));